<h1> <%= @concert.artist_name %> </h1>
<h3> <%= if @concert.coheadliner_name
   "Co-Headliner: #{@concert.coheadliner_name}"
    end %> </h3>
<h3> <%= if @concert.opener_name_1
    "Opener: #{@concert.opener_name_1}" 
    end %> </h3>
<h3> <%= if @concert.opener_name_2 
    "Opener: #{@concert.opener_name_2}" 
    end %> </h3>

<p> <%= if @concert.festival_name
    "Festival: #{@concert.festival_name}" 
    end %> </p>

<p> <%= "#{@concert.venue_name} - "%> 
<%= "#{@concert.city}, "%> 
<%= @concert.state %></p>

<p> <%= @concert.date.strftime("%m/%d/%y") %> </p>

<%= link_to "Back", concerts_path %>

